{% extends "app_shop/base.html" %}
{% load static %}
{% block middle %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Ввод нового пароля
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="{% url 'main' %}">home</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>Ввод нового пароля</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">Навигация
                        </strong>
                    </header>
                    <div class="Section-columnContent">
                        <div class="NavigateProfile">
                            <ul class="menu menu_vt">
                                <li class="menu-item"><a class="menu-link" href="{% url 'login' %}">Вход</a>
                                </li>
                                <li class="menu-item"><a class="menu-link"
                                                         href="{% url 'registration' %}">Регистрация</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Section-content">
                <div class="Profile">
                    {% if validlink %}
                    <p class="form-label">Please enter (and confirm) your new password.</p>
                    <form class="form Profile-form" action="#" method="post">
                        <div class="row">
                            <div class="row-block">
                                    {% csrf_token %}
                                    {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                    <div class="form-error">{{ error|escape }}</div>
                                    {% endfor %}
                                    {% endif %}
                                    <div class="form-group">
                                    <label class="form-label" for="{{ form.new_password1.id_for_new_password1 }}">Пароль
                                    </label>
                                    {{ form.new_password1 }}
                                    {% if form.new_password1.errors %}
                                        {% for error in form.new_password1.errors %}
                                        <div class="form-error">{{ error|escape }}</div>
                                        {% endfor %}
                                    {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="{{ form.new_password2.id_for_new_password2 }}">Подтверждение
                                            пароля
                                        </label>
                                        {{ form.new_password2 }}
                                        {% if form.new_password2.errors %}
                                            {% for error in form.new_password2.errors %}
                                            <div class="form-error">{{ error|escape }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <div class="Profile-btn">
                                            <button class="btn btn_success" type="submit">Сохранить
                                            </button>
                                        </div>
                                    </div>
                            </div>
                            <div class="row-block">
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <h1 class="form-error">Password reset failed</h1>
                    <p class="form-error">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}