{% extends "app_shop/base.html" %}
{% load static %}
{% block middle %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Восстановить доступ
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="{% url 'main' %}">home</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>Восстановить доступ</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">Навигация
                        </strong>
                    </header>
                    <div class="Section-columnContent">
                        <div class="NavigateProfile">
                            <ul class="menu menu_vt">
                                <li class="menu-item"><a class="menu-link" href="{% url 'login' %}">Вход</a>
                                </li>
                                <li class="menu-item"><a class="menu-link"
                                                         href="{% url 'registration' %}">Регистрация</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Section-content">
                <div class="Profile">
                    <form class="form Profile-form" action="#" method="post">
                        <div class="row">
                            <div class="row-block">
                                    {% csrf_token %}
                                    {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                    <div class="form-error">{{ error|escape }}</div>
                                    {% endfor %}
                                    {% endif %}
                                    <div class="form-group">
                                        <label class="form-label" for="{{ form.email.id_for_email }}">E-mail
                                        </label>
                                        {{ form.email }}
                                        {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                        <div class="form-error">{{ error|escape }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <div class="Profile-btn">
                                            <button class="btn btn_success" type="submit">Сбросить
                                            </button>
                                        </div>
                                    </div>
                            </div>
                            <div class="row-block">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}